<div id="<%= dom_id recipient %>">
  <tr>
    <td class="col-1">
      <%= recipient.id %>
    </td>
    <td class="col-1">
      <%= recipient.name %>
    </td>
    <td class="col-1">
      <%= recipient.recipient_code %>
    </td>
  </tr>
</div>